* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 15px;

    width: 80%;
    max-width: 900px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: 500;
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    margin-top: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.summary-box {
    margin-top: 25px;
    padding: 20px;
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
}

.summary-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.6;
    font-size: 14px;
}

.loading{
    display: none;
    text-align: center;
    margin-top: 20px;
}

.spinner{
    border: 5px solid rgba(255, 255, 255,0.3);
    border-top: 5px solid white ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg)}
}

.drop-zone{
    border: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.drop-zone:hover{
    background: rgba(255,255,255,0.1);
}

.drop-zone.active{
    border-color: #ff7eb3;
    background: rgba(255,255,255,0.2);
}


.file-preview{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.15);
    padding: 8px 12px;
    border-radius: 8px;
}

.file-preview span{
    font-size: 14px;
}

.file-preview button{
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}