<!DOCTYPE html>
<html>
<head>
    <title>AI Notes Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>AI Notes Summarizer</h1>

    <form method="POST" enctype="multipart/form-data">

        <textarea name="notes" rows="6" placeholder="Enter your notes here..."></textarea>

        <br><br>

        <label>Upload PDF:</label>

        <div class="drop-zone" id="drop-zone">
            <p>Drag & drop PDF here or click to select</p>
            <input type="file" name="pdf" id="file-input" accept=".pdf" hidden>
        </div>


        <div class="file-preview" id="file-preview" style="display: none;">
            <span id="file-name"></span>
            <button type="button" id="remove-file">❌</button>
        </div> 
        <br><br>

        <label>Style:</label>
        <select name="style">
            <option value="short">Short</option>
            <option value="detailed">Detailed</option>
        </select>

        <br><br>

        <button type="submit">Summarize</button>
    </form>

    <div id="loading" class="loading">
        <div class="spinner"></div>
        <p>Summarizing...</p>
    </div>

    {% if summary %}
    <div class="summary-box">
        <h3>Summary:</h3>
        <div class="summary-text">{{ summary }}</div>
    </div>
    {% endif %}
</div>

<script>
    const form = document.querySelector("form");
    const loading = document.getElementById("loading");

    form.addEventListener("submit", function(){
        loading.style.display = "block"
    });


    const dropZone = document.getElementById("drop-zone");
    const fileinput = document.getElementById("file-input")
    const fileNameDisplay = document.getElementById("file-name");
    const filePreview = document.getElementById("file-preview");
    const removeBtn = document.getElementById("remove-file");


    // adding files by drag and drop
    dropZone.addEventListener("click", ()=> fileinput.click());

    fileinput.addEventListener("change",()=>{
        if(fileinput.files.length > 0){
            fileNameDisplay.textContent = "📄 " + fileinput.files[0].name;
            filePreview.style.display = "flex";
        }
    });

    dropZone.addEventListener("dragover", (e)=>{
        e.preventDefault();
        dropZone.classList.add("active"); 
    });

    dropZone.addEventListener("dragleave", ()=>{
        dropZone.classList.remove("active"); 
    });

    dropZone.addEventListener("drop", (e)=>{
        e.preventDefault();
        dropZone.classList.remove("active");

        const files = e.dataTransfer.files;
        fileinput.files = files;

        if(files.length > 0){
            fileNameDisplay.textContent = "📄 " + fileinput.files[0].name;
            filePreview.style.display = "flex";
        }
    });

    // remove files
    removeBtn.addEventListener("click", ()=>{
        fileinput.value = "";
        fileNameDisplay.textContent = "";
        filePreview.style.display = "none";
    });

</script>

</body>
</html>