<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Notes Summarizer</title>
</head>
<body>
    <h1>AI Notes Summarizer</h1>

    <form method="Post">
        <textarea name="notes" rows="10" cols="10" placeholder="Enter your notes here..."></textarea>
        <br><br>
        
        <label>Choose:style</label>
        <select name="style">
            <option value="short">Short</option>
            <option value="detailed">Detailed</option>
        </select>
        <br><br>

        <button type="submit">Summarize</button>
    </form>

    <h2>Summary:</h2>
    <pre>{{summary}}</pre>
</body>
</html>