<!DOCTYPE html>
<html>
<head>
    <title>AI Notes Summarizer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container">
    <h1>AI Notes Summarizer</h1>

    <form method="POST" enctype="multipart/form-data">

        <textarea name="notes" rows="6" placeholder="Enter your notes here..."></textarea>

        <br><br>

        <label>Upload PDF:</label>
        <input type="file" name="pdf">

        <br><br>

        <label>Style:</label>
        <select name="style">
            <option value="short">Short</option>
            <option value="detailed">Detailed</option>
        </select>

        <br><br>

        <button type="submit">Summarize</button>
    </form>

    {% if summary %}
    <div class="summary-box">
        <h3>Summary:</h3>
        <div class="summary-text">{{ summary }}</div>
    </div>
    {% endif %}
</div>

</body>
</html>